/* *buttons primary blue* */

.button {
  display: block;
  padding: 13px 27px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 10px;
  transition: all 200ms ease;
}

.button_primary {
  /* color: #FFFFFF; */
  /* background: #4080BF; */
  /* border: 1px solid #4080BF; */
  color: var(--white);
  background: var(--blue);
  border: 1px solid var(--blue);
}

.button_primary:hover {
  color: #4080BF;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.button_primary:focus {
  color: var(--blue);
  background: var(--white);
  border: 1px solid var(--white);
  outline: 1px solid var(--blue);
}

.button_primary:active {
  color: var(--white);
  background: var(--blue);
  border: 1px solid var(--blue);
  transition: all 100ms ease;
  outline: none;
}