/* *testimonials Слайдер с отзывами о нашей компании */

.slider {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 570px;
  height: 500px;
  border: 1px solid #1E2028;
  background-color: #1E2028;
  border-radius: 10px;
  padding: 100px 44px 50px;
  /* border: 1px solid lawngreen; */
}

.slider::before {
  display: block;
  position: absolute;
  top: 37px;
  right: 44px;
  content: "";
  /* 
  font-family: serif;
  content: "\201d";
  font-size: 200px;
  font-style: normal;
  font-weight: bold;
  color: white; 
  */
  width: 80px;
  height: 80px;
  background: url(quote-mark.svg) no-repeat center;
  /* border: 1px solid orange; */
}

.slider__list,
.slider__wrapper {
  /* border: 1px solid orange; */
}

.slider__author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.slider__author-image {
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  /* border: 1px solid #A69D94; */
  border: 1px solid #655F62;
}

.slider__author-name {
  font-family: 'Inter', serif;
  /* todo */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.slider__author-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 5px;
}

.slider__author-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

.slider__arrow {
  display: block;
  position: absolute;
  width: 53px;
  height: 182px;
  font-family: sans-serif;
  font-size: 74px;
  font-style: normal;
  font-weight: normal;
  /* border: 1px solid rgba(138, 134, 130, 0.741); */
  border: none;
  color: #A69D94;
  background: rgba(18, 20, 28, 0.8);
  top: 191px;
  opacity: .1;
  border-radius: 6px;
  transform: scale(100%);
  /* transition: transform, opacity 200ms ease; */
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.slider:hover .slider__arrow {
  opacity: .5;
}

.slider__arrow:hover {
  opacity: .7 !important;
  transform: scale(105%);
}

.slider__arrow:active {
  opacity: .9 !important;
  background: rgba(18, 20, 28, 0.9);
  color: rgba(255, 255, 255, 0.789);
  transform: scale(100%);
}

.slider__arrow_left {
  content: "\2039";
  left: 7px;
}

.slider__arrow_right {
  content: "\203a";
  right: 7px;
}

.slider__dot {
  display: block;
  width: 10px;
  height: 10px;
  background: #8E8F93;
  border: 1px solid #8E8F93;
  border-radius: 10px;
  opacity: 1;
}
.slider__dot:hover {
  opacity: .9;
}
.slider__dot:hover {
  opacity: .7;
}

.slider__dot_active {
  background: #fff;
  border: 1px solid #fff;
  opacity: 1 !important;
}
.slider__dot_active:hover {
  opacity: 1;
}


.slider__dots {
  /* .dots-list */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  opacity: .9;
  transform: scale(100%);
  transition: transform 300ms ease;
}
.slider:hover .slider__dots {
  opacity: 1;
  transform: scale(135%);
}

.slide,
.slider__item {
  /* slid item */
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 17px;
}

.alide_active,
.slider__item_active {
  /* active slide */
  opacity: 1;
}

.slider__testimonial-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 31px;
}

.testimonial {
  /* border: 1px solid green; */
}

.testimonial__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 10px;
}

.testimonial__slider {}

.testimonial__subtitle {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 83px;
  text-align: left;
  max-width: 366px;
}

.testimonial__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  text-align: left;
  max-width: 490px;
}

.testimonial__inner {
  /* border: 1px solid lawngreen; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}