/* *The Best
Amazing Project */

.page__section {}

.project__subtitle {
  text-align: left;
}

.project {}

.project__heading {
  /* border: 1px solid violet; */
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project__view-all-link {
  /* display: flex; */
  align-self: flex-end;
  transition: transform 200ms ease-out;
  transform: translateY(-5%);
}

.project__heading:hover .project__view-all-link {
  transform: scaleX(108%) translateX(-3%);
}

.project__image {
  display: block;
  width: 540px;
  height: 307px;
  border-radius: 12px;
  transition: transform 300ms ease;
  transition-property: transform, box-shadow;
}

.project__image:hover {
  transform: scale(105%);
  /* box-shadow: 0 0 28px 2px rgba(83, 83, 83, 0.612); */
}

.project__item {}

.project__link-image {
  display: block;
  width: 540px;
  height: 307px;
  background-color: #1E2028;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 12px;
  transition: all 400ms ease;
}

.project__link-image:hover {
  background-size: 110%;
}

.project__link-image_gospace {
  background-image: url(thumb-gospace.jpg);
}

.project__link-image_stayhealthy {
  background-image: url(thumb-stayhealthy.jpg);
}

.project__link-image_staycation {
  background-image: url(thumb-staycation.jpg);
}

.project__link-image_vaksin {
  background-image: url(thumb-vaksin_aman_halal.jpg);
}

.project__list {
  /* border: 1px solid violet; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* todo */
  gap: 20px;
  flex-wrap: wrap;
}

.project__list_variant_first {
  flex-direction: row;
}

.project__list_variant_second {
  flex-direction: row-reverse;
}


.project__inner {
  /* border: 1px solid orange; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}