.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  color: #FFFFFF;
  outline-offset: 3px;
  /* ? отступ */
  /* transition: color 200ms ease-out; */
  transition-property: color, outline-color;
  transition-duration: 0.3s, 0.2s;
  transition-timing-function: ease-in-out;
  outline: 1px solid transparent;
  border-radius: 50%;
}

.social__link:hover {
  color: #cd06ff;
  opacity: 0.8;
}

.social__link:focus {
  color: #cd06ff;
  outline: 1px solid #cd06ff;
}

.social__link:active {
  color: #840aa3;
}

.social__link_earth {}

.social__link_insta {}

.social__link_yt {}


/* под размер ссылки */

.social svg {
  width: 100%;
  height: 100%;
}