/* * Arial Black */
@font-face {
	font-family: "Arial Black";
	src: local("Arial Black"),
       url(../fonts/arial-black.woff) format("woff"), /* Modern Browsers */
		   url(../fonts/arial-black.woff2) format("woff2"); /* Modern Browsers */
	font-weight: 900;
	font-style: normal;
  font-display: swap;
}





/* * Poppins Thin 100 */
@font-face {
	font-family: "Poppins";
	src: local("Poppins"),
       url(../fonts/Poppins-Thin.woff) format("woff"), /* Modern Browsers */
       url(../fonts/Poppins-Thin.woff2) format("woff2"); /* Modern Browsers */
	font-weight: 100;
	font-style: normal;
  font-display: swap;
}


/* * Poppins ExtraLight 200 */
@font-face {
	font-family: "Poppins";
	src: local("Poppins"),
       url(../fonts/Poppins-ExtraLight.woff) format("woff"), /* Modern Browsers */
       url(../fonts/Poppins-ExtraLight.woff2) format("woff2"); /* Modern Browsers */
	font-weight: 200;
	font-style: normal;
  font-display: swap;
}


/* * Poppins Light 300 */
@font-face {
	font-family: "Poppins";
	src: local("Poppins"),
       url(../fonts/Poppins-Light.woff) format("woff"), /* Modern Browsers */
       url(../fonts/Poppins-Light.woff2) format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
  font-display: swap;
}


/* * Poppins Regular 400 */
@font-face {
	font-family: "Poppins";
	src: local("Poppins"),
       url(../fonts/Poppins-Regular.woff) format("woff"), /* Modern Browsers */
		   url(../fonts/Poppins-Regular.woff2) format("woff2"); /* Modern Browsers */
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}


/* * Poppins Medium 500 */
@font-face {
	font-family: "Poppins";
	src: local("Poppins"),
       url(../fonts/Poppins-Medium.woff) format("woff"), /* Modern Browsers */
		   url(../fonts/Poppins-Medium.woff2) format("woff2"); /* Modern Browsers */
	font-weight: 500;
	font-style: normal;
  font-display: swap;
}


/* * Poppins SemiBold 600 */
@font-face {
	font-family: "Poppins";
	src: local("Poppins"),
       url(../fonts/Poppins-SemiBold.woff) format("woff"), /* Modern Browsers */
		   url(../fonts/Poppins-SemiBold.woff2) format("woff2"); /* Modern Browsers */
	font-weight: 600;
	font-style: normal;
  font-display: swap;
}


/* * Poppins Bold 700 */
@font-face {
	font-family: "Poppins";
	src: local("Poppins"),
        url(../fonts/Poppins-Bold.woff) format("woff"), /* Modern Browsers */
        url(../fonts/Poppins-Bold.woff2) format("woff2"); /* Modern Browsers */
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}

/* * Poppins ExtraBold 800 */
@font-face {
  font-family: "Poppins";
	src: local("Poppins"),
        url(../fonts/Poppins-ExtraBold.woff) format("woff"), /* Modern Browsers */
        url(../fonts/Poppins-ExtraBold.woff2) format("woff2"); /* Modern Browsers */
	font-weight: 800;
	font-style: normal;
  font-display: swap;
}

/* * Poppins */
@font-face {
	font-family: "Poppins";
	src: local("Poppins"),
       url(../fonts/Poppins-Black.woff) format("woff"), /* Modern Browsers */
		   url(../fonts/Poppins-Black.woff2) format("woff2"); /* Modern Browsers */
	font-weight: 900;
	font-style: normal;
  font-display: swap;
}


